#footer {
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffafa;
  margin-top: 30px;
  padding: 10px;
  .footer_logo {
    height: 80px;
    width: 80px;
    margin-right: 50px;
  }
  p {
    font-weight: bold;
  }
}
@media (max-width : 900px){
  #footer{
    height: auto;
    .footer_logo{
      height: 50px;
      width: 50px;
      margin-right: 20px;
    }
    p{
      font-size: 14px;
    }
  }
}
