.newsByCategory{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
    .loading_container{
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        min-height: 100vh;
        .loading{
          text-align: center;
          font-weight: bold;
        }
    }
}