.homeNews{
    margin-top: 50px;
    .main_news_title{
        text-align: center;
        font-size: 35px;
    }
    .world_news{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    }
}
@media (max-width:700px){
.homeNews{
    .main_news_title{
        font-size: 20px;
        text-align: center;
    }
}
} 